.homepage-title {
    height: 6.5vh;
    display: flex;   
    justify-content: flex-start;
    background: #172b4d;    
}

.homepage-title-main {
    height: 5vh;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
}

.trello-icon{
    margin-top: 8px;
    margin-left: 5px; 
    width: 50px;
    height: 100%;
    background-image: url("../../../public/trello-icon.gif");
    background-size: cover;
}

.homepage-title h1 {
    color: white;
    margin: auto;
    top: 5px;
    position: relative;
}

#workspace-dropdown-content {
    position: relative;
    left: 50%;
    top: 10px;
    display: none;
}

.workspace-dropbtn {
    height: 90%;
    background-color: transparent;  
    border: none;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 35px;
    color: white;
}

.workspace-dropbtn:hover{
    background:#5E6C84;
    border-radius: 5px;
}

#recent-dropdown-content {
    position: relative;
    left: 53px;
    top: 10px;
    display: none;
}

.recent-dropbtn {
    background-color: transparent;  
    height: 100%;
    border: none;
    font-size: 20px;
    position: relative;
    top: 8px;
    left: 50px;
    color: white;
}

.recent-dropbtn:hover{
    background:#5E6C84;
    border-radius: 5px;
}

#create-btn {
    height: 100%;
    border-radius: 5px;
    background-color: #6751bc;
    position: relative;
    border: none;
    color: white;
    left: 70px;
    top: 8px;
    font-size: 20px;
}

#create-btn:hover {
    background:#5E6C84;
}

.homepage-title-account {
    height: 6.4vh;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right:0;
    width: 450px;
}

.account-icon {
    margin-right: 10px;
    width: 67px;
    height: 100%;
    background-image: url("../../../public/account_icon.png");
    background-size: cover;
}

.homepage-title-account h2 {
    color: white;
    margin-right: 15px;
    position: relative;
    bottom: 3px;    
}

.search-icon {
    background-image: url("../../../public/icons8-search-24.png");
    width: 24px;
    height: 24px;
    margin:auto;
}

.search-bar {
    margin: 10px;
    border-radius: 5px;
    margin-right: 1.5em;
    display: flex;
    background-color: white;
}

#search-input {
    font-size: 20px;
    outline: none;
    border: none;
    margin: auto;
}