.Card {
	box-sizing: border-box;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;
}

.click-to-edit {
    width: 80%;
}

.card-body {
    display: flex;
	overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;

	background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    text-decoration: none;
    z-index: 10;
}

.arrow-right::before {
    align-self: flex-end;
    content: "\21E8";
    margin-left: 12px;
}

.arrow-left::before {
    align-self: flex-end;
    content: "\21E6";
}