.CreateBoard {
    z-index: 12;
	border-radius: 3px;
	background-color: white;
	position: fixed;
    width: 300px;
    top: 48px;
    left: 550px;
	margin-top: 20px;
}

.board-name-label {
	display: flex;
	color: #5e6c84;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.board-name-input {
	outline: none;
    border: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 3px;
    padding: 8px 12px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    background-color: #fafbfc;
    width: 100%;
	margin-bottom: 8px;
}

.create-board-form {
	padding: 12px;
}

.button-create-board {
    background-color: #0079bf;
    box-shadow: none;
    border: none;
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 6px 12px;
    text-decoration: none;
    white-space: normal;
}