/* .trello-main-heading {
    padding: auto;
    font-size: 22px;
    height: 100%;
    text-align: center;
}


.navigation-menu {
    min-width: 100%;
    height: 6.5vh;
    display: flex;
    justify-content: space-between;
    background: #172b4d;
}

.menu-items {
    display: flex;
    justify-content: space-between;
}

.trello-icon{
    width: 50px;
    height: 100%;
    background-image: url("../../../public/trello-icon.gif");
    background-size: cover;
    margin: 0;
}

.homepage-title h1 {
    color: white;
    position: relative;
    bottom: 20%;
    left: 10px;
}

.boards-dropbtn {
        height: 90%;
        background-color: transparent;
        border: none;
        font-size: 20px;
        position: relative;
        top: 10px;
        left: 35px;
        color: white;
    margin: auto;
    position: relative;
}

.boards-dropbtn:hover{
    background:#5E6C84;
    border-radius: 5px;
}

#recent-dropdown-content {
    position: relative;
    left: 53px;
    top: 10px;
    display: none;
    flex-direction: column;
}

.recent-dropbtn {
    background-color: transparent;
    height: 100%;
    border: none;
    font-size: 20px;
    position: relative;
    top: 8px;
    left: 50px;
    color: white;
}

#create-btn:hover {
    background:#5E6C84;
}

.homepage-title-account {
    height: 5.7vh;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right:0;
    width: 450px;
}

.account-icon {
    margin-top: 3px;
    margin-right: 15px;
    width: 55px;
    height: 100%;
    background-image: url("../../../public/account_icon.png");
    background-size: cover;
}

.homepage-title-account h2 {
    color: white;
    margin-right: 15px;
    position: relative;
    bottom: 3px;
}

.left-items{
    display: flex;
}

.homepage-title-main{
    height: 100%;
    display: flex;
}

.menu-items{
    display: flex;
} */


.navigation-menu{
    display: flex;
    background-color: aqua;
    height: 6vh ;
    justify-content: space-between;
    padding: 4px;
}

.trello-icon, .account-icon{
    margin: 0;
}

.icon{
    display: flex;
}

.left-side{
    display: flex;
}

h1{
    margin: 0;
    padding: 0;
    color: white;
}

.boards-dropbtn{
    margin: auto;
    padding: auto;
}

button{
    margin: 0;
    padding: 0;
}