#navbar {
    height: 6.5vh;
    background: #172b4d;
    display: flex;
    width: 100vw;
}

#navbar .navbar-title {
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
}

#navbar .homepage-account {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
}

#navbar .fa-trello {
    color:white;
    font-size: 3.5em;   
    margin-left: 0.08em;
}

#navbar .title {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    font-weight: bold;
    color: white;
    font-size: 2em;
    padding: 0 0.7em;
}

#navbar .dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    margin: 0.5em 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
}

#navbar .dropbtn:hover {
    background: #5E6C84;
    border-radius: 5px;
}

#navbar .boards-btn {
    position: relative;
}

#recent-dropdown-content {
    display: none;
    flex-direction: column;
    z-index: 11;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
}

#navbar .btn-recent-board {
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid black !important; 
    background-color: transparent;
    margin: 0 0.3em 0 0.3em;
    padding: 0.3em;
}

#navbar .btn-recent-board:hover {
    background-color: grey;
}

#navbar .create-btn {
    border-radius: 5px;
    background-color: #6751bc;      
    color:  white;
    border: none;
    margin: 0.5em;
    font-size: 1.2em;
}

#navbar .create-btn:hover {
    background: #5E6C84;
}

#navbar .recent-dropdown{
    display: flex;
    flex-direction: column;
}

#navbar .search-bar {
    margin: 0.7em 1em 0.7em 0;
    border-radius: 5px;
    background: white;
    display: flex;
    align-items: center;
}

#navbar #search-input {
    height: 90%;
    font-size: 1.2em;
    border-radius: 3px;
    border: none;
    padding: 0;
    margin: 0 0.5em 0 0;
}

#navbar .fa-search {
    font-size: 1.5em;
    margin: 0 0.5em 0 0.5em;   
}

#navbar .fa-user {
    color: white;
    font-size: 3.4em;
    display: flex;
    align-items: center;
    margin: 0 0 0 0.5em;
}

#navbar .logged-user {
    display: flex;
    align-items: center;
    margin: 0 1em 0 0.5em;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
}

#navbar .logout-link {
    display: flex;
    align-items: center;
    margin: 0.5em;    
    font-size: 1.2em;
    text-decoration: none;
    padding: 0.5em;
}